<div>
    <% if ! @success then %>
        <p><%= @error %></p>
    <% end %>
</div>
<div id="result">
    <p><b>Result:</b></p>
    <% if @success then %>
        <p><%= @string %></p>
    <% end %>
</div>
<div id="resultURLEncoded">
    <p><b>Result URL Encoded:</b></p>
    <% if @success then %>
        <p><%= @string_URL_encoded %></p>
    <% end %>
</div>
<div id="resultURLDecoded">
    <p><b>Result URL Decoded:</b></p>
    <% if @success then %>
        <p><%= @string_URL_decoded %></p>
    <% end %>
</div>